.wrapper{
  width: 100%;
  margin-top: 50px;
  zoom: 130%;
}
.loginBox {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  height: 60vh;
  margin: auto;
  width: 500px;
  border-radius: 4px;
  background-color: #1aa35f7a;
  box-shadow: 0 4px 8px 0 rgba(6, 128, 63, 0.541),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loginBox:hover {
  box-shadow: 0 6px 10px 0 rgba(6, 128, 63, 0.541),
    0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.loginBox a:hover {
  text-decoration: none;
}
.loginTitle {
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.589);
  font-size: 22px;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  flex-direction: column;
  margin-top: 30px;
}
.input-container input {
  margin: 12px;
  border: transparent;
  border-radius: 2px;
}
.input-container input:focus {
  outline: none;
}
.input-controler label {
  color: rgba(0, 0, 0, 0.589);
  font-size: 15px;
  margin-top: 5px;
}
.input-controler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsGroup {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-content: center;
  text-align: center;
  width: 60%;
  height: 40%;
  align-content: space-between;
}
.googleButton {
  background-color: white;
  display: inline-flex;
  border-color: transparent;
  border-radius: 6px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.863);
  margin-top: 20px;
}
.googleButton:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.googleButton img {
  margin: 6px;
  width: 15px;
  height: 15px;
}
.loginButton {
  background-color: rgb(107, 202, 226);
  display: inline-flex;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  color: rgb(255, 250, 250);
}
.loginButton:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.loginButton:focus{
  background-color:rgb(245, 173, 57);
}
.registerString {
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.589);
  font-size: 12px;
  margin-top: 40px;
}
.registerButton {
  background-color: rgb(107, 202, 226);
  display: inline-flex;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  color: rgb(255, 250, 250);
}
.registerButton:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  }
.registerButton:focus{
    background-color:rgb(245, 173, 57);
  }
  .backToLoginButton{
    background-color: rgb(107, 202, 226);
    display: inline-flex;
    border-color: transparent;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    color: rgb(255, 250, 250);
    margin-top: 40px;
  }
  .backToLoginButton:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  }
  .backToLoginButton:focus{
    background-color:rgb(245, 173, 57);
  }
  .continueButton{
    background-color: rgb(107, 202, 226);
    border-color: transparent;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    color: rgb(255, 250, 250);
    margin-top: 50%;
    text-align: center;
  }
  .continueButton:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  }
  .continueButton:focus{
    background-color:rgb(245, 173, 57);
  }