.navbar{
    background-color: rgb(245, 173, 57);;
    height: 6vh;
    /* position:fixed; */
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(123, 84, 231, 0.513), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-title{
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.navbar-title:hover{
    color:rgba(123, 84, 231, 0.835);
    font-weight: 800;
}


.navbar-title-link:hover{
 text-decoration: none;
}

.user_pic{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.chat-logo{
    margin-right: 20px;
}
.navbar-user{
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}
.navbar-user:hover{
    color:rgba(123, 84, 231, 0.835);
}

.navbar-user-link:hover{
 text-decoration: none;
}
.logos-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.options{
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
}
.dropdown{
z-index: 100;
display: block;
position: absolute;
background-color: #9fd9eb;
flex-direction: column;
top: 75px;
right: 7px;
width: 15%;
text-align: center;
border-radius: 2px;
padding: 5px;
font-weight: 700;
color: white;
box-shadow: 0 4px 8px 0 rgba(16, 164, 200, 0.541),
    0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown:hover{
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(16, 164, 200, 0.541),
        0 8px 20px 0 rgba(0, 0, 0, 0.19);
    }
