/* .profilePage {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
} */
.profileAndListContainer{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.profileSetting {
  width: 45%;
  margin:auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.listSession {
  width: 45%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.profileCard{
 width: 90%;
 height: fit-content;
 background-color:  rgb(208, 235, 236);
 border-radius: 2px;
 border: 1px solid;
 border-color: rgba(0, 0, 0, 0.055);
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 20px;
}
.profileCard:hover{
  box-shadow: 0 4px 8px 0 rgba(16, 164, 200, 0.541),
  0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-btn-wrapper{
    width: 100%;
    height: 35%;
    margin-bottom: 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.img-btn-wrapper .button{
    /* display: none; */
    background-color: rgba(107, 202, 226, 0.829);
    border-color: transparent;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0 rgb(66 109 228 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-size: 12px;
    color: rgb(255, 250, 250);
    width: 130px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
}
.img-btn-wrapper .button:hover{
    cursor: pointer;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.img-btn-wrapper img{
    width: 140px;
    height: 140px;
    margin:5px;
    border-radius: 50%;
}

.userInfoBox{
  width: 100%;
  height: 70%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}
.userInfoBox p{
line-height: 5px;
}
.userInfoBox_profileName{
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.692);
}
.userInfoBox_bio{
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.603);
}
.editInfoButton{
  background-color: rgba(107, 202, 226, 0.829);
  border-color: transparent;
  border-radius: 3px;
  box-shadow: 0 4px 5px 0 rgb(66 109 228 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  font-size: 12px;
  color: rgb(255, 250, 250);
  width: 130px;
  height:fit-content;
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 6px;
}
.editInfoButton:hover{
  cursor: pointer;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.calendarsTitle{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.692);
}
.calendarLabel{
  height: 10%;
  background-color: rgb(236, 182, 81);
  width: 70%;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  color:white;
  font-weight: 600;
  margin-bottom: 5px;
}
.calendarLabel:hover{
  cursor: pointer;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.addCalendar{
margin-top: 20px;
}
.addCalendarInput{
  height: 22px;
  margin: auto;
   border: transparent;
   border-radius: 2px;
}
.addCalendarInput:focus {
  outline: none;
}
/* DAYLY LIST */
.dailyList{
  height: fit-content;
  width: 90%;
  background-color: rgba(236, 182, 81, 0.911);
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.055);
  align-items: center;
}
.dailyList:hover{
  box-shadow: 0 4px 8px 0 rgba(236, 122, 46, 0.541),
  0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-Title{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.623);
}
.list{
  height: fit-content;
  border-radius: 2px;
  width: 95%;
  background-color: wheat;
  margin-bottom: 2px;
}
.date{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.692);
}
.dailyGoals{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.692);
  margin-top: -18px;
}
.inputs-list{
display: flex;
flex-direction: column;
}
.inputs-list input:first-child{
 width: 80%;
 height: 22px;
 margin: auto;
  border: transparent;
  border-radius: 2px;
  }
  .inputs-list input:first-child:focus {
    outline: none;
  }
  .checkbox{
    margin-left: 5px;
    margin-right: 5px;
  }
  .label{
    margin-top: 2px;
    font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.692);
  }
  .checks{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
/* CALENDAR */
  .calendarContainer{
height: fit-content;
width: 80%;
margin: auto;
display: flex;
flex-direction: row;
background-color: turquoise;
  }

  table {
    border-spacing: 0.5rem;
    width: 100%;
    margin-bottom: 10px;
  }
  tr{
    width: 100%;
  }
  td {
    padding: 0.5rem;
    width: 7%;
  }
  .month{
    text-align: center;
  }
  
  /* td:nth-child(1) { 
    background: hsl(150, 50%, 50%); 
  }
  td:nth-child(2) { 
    background: hsl(160, 60%, 50%); 
  }
  td:nth-child(3) { 
    background: hsl(170, 70%, 50%); 
  }
  td:nth-child(4) { 
    background: hsl(180, 80%, 50%); 
  }
  td:nth-child(5) { 
    background: hsl(190, 90%, 50%);
   }
  td:nth-child(6) { 
    background: hsl(200, 99%, 50%); 
  } */