.showcase-main{
    margin: auto;
    display: flex;
    width: 50%;
    flex-direction: column;
}
.shareBox{
  /* margin-top: 80px; */
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(166, 229, 231);
    border-radius: 2px;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 2px;
    flex-direction: row-reverse;
    box-shadow: 0 4px 8px 0 rgba(16, 164, 200, 0.541),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.shareBox:hover{
    box-shadow: 0 4px 8px 0 rgba(16, 164, 200, 0.541),
    0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
/* button share smth */
.input-share{
    height: 23px;
    width: 70%;
    border-radius: 2px;
    border: transparent;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.705);
    font-size: 14px;
    text-align: center;
}
.input-share:hover {
  box-shadow: 0 4px 8px 0 rgba(16, 164, 200, 0.541),
  0 8px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .profile-img{
      height: 40px;
      width: 40px;
      border-radius: 50%;
  }

.share-btn:hover{
  cursor: pointer;
}

.postButton{
  background-color: rgb(107, 202, 226);
  display: inline-flex;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(240, 115, 57, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
  color: rgb(255, 250, 250);
  width: fit-content;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.postButton:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.postButton:focus{
  background-color:rgb(245, 173, 57);
}
.modal-Input{
  height: 23px;
  width: 70%;
  border-radius: 2px;
  border: transparent;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.705);
  font-size: 14px;
}
.modal-Input:focus {
  outline: none;
}

.shareBox-modal{
  height: 90px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  background-color:rgba(245, 173, 57, 0.829);
  border-radius: 2px;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  padding: 2px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(200, 129, 16, 0.541),
  0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.shareBox-modal:hover{
  box-shadow: 0 4px 8px 0 rgba(236, 122, 46, 0.541),
  0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.buttonWrapper{
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: fit-content;
}
.buttonsAndFileWrapper{
  display: flex;
  flex-direction: column;
}
.labelInputPicture{
  color: rgba(0, 0, 0, 0.705);
  font-size: 14px;
}
.labelInputPicture input{
  margin-left: 2px;
}

/* ++++++ POST SESSION  ++++++++*/
  .post-body{
      height:fit-content;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 5px;
      background-color:  rgba(159, 226, 243, 0.479);
      border-radius: 2px;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.055);
      margin-left: auto;
  }
  .post-user{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 10px;
  }
  .post-user-pGroup{
    margin-top: -7px;
    margin-right: auto;

  }
  .post-user-pGroup a:hover{
    text-decoration: none;
   }
  .post-user p:first-child{
    font-weight: 500;
    font-size: 15px;
 }
  .post-user p{
   margin-top: 0px;
   margin-bottom: -6px;
   margin-left: 10px;
   color: rgba(0, 0, 0, 0.692);
   font-weight: 400;
   font-size: 11px;
}

.dots{
  justify-self: flex-end;
  cursor: pointer;
  height: 20px;
}
.comment .dots{
  margin-left: auto;
}
.dropdown-container{
  z-index: 2;
  width: 10%;
  display: flex;
  margin-left: 80%; 
  margin-top: 2px;
  position: absolute;
  right: 28%;
  border-radius: 2px;
}
.dropdown-content{
  background-color: #96e0f3;
  width: 100%;
  text-align: center;
  border-radius: 2px;
}
.dropdown-content p{
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  margin-bottom: 2px;
  cursor: pointer;
}
.dropdown-content p:hover{
  font-weight: 500;
}
.modalEdit{
  width: 90%;
  margin: auto;
  padding: 5px;
}
.inputEditPost{
  height: 23px;
    width: 70%;
    border-radius: 2px;
    border: transparent;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.705);
    font-size: 14px;
}
.inputEditPost:focus {
  outline: none;
}
.buttonEditPost{
 background-color: rgb(107, 202, 226);
  display: inline-flex;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  color: rgb(255, 250, 250);
  margin-left: 10px;
}
.buttonEditPost:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.buttonEditPost:focus{
  background-color:rgb(245, 173, 57);
}

 .profile-img-post{
     height: 40px;
     width: 40px;
     border-radius: 50%;
     margin-left: 10px;
 }
  .post-content-paragraph{
      width: 85%;
      height: fit-content;
      margin-left: 40px;
      margin-top: 5px;
      font-weight: 400;
      font-size: 13px;
      text-align: justify;
      line-height: 1.2;
      
      /* white-space: nowrap;  */
      /* overflow: hidden; */
      /* text-overflow: ellipsis;  */
  }
  .post-content-img-container{
    width: 100%;
    height: 68%;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .post-content-img{ 
    width: 90%;
  }
.line-comment{
    width: 100%;
    height: 1px;
    background-color: rgba(58, 56, 56, 0.103);
}
.buttonsWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.showCommentDiv{
  width: 100%;
}
.showComments{
  background-color: rgba(124, 211, 233, 0.835);
  border-color: transparent;
  border-radius: 2px;
  width: 70%;
  margin: auto;
  box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
  color: rgb(255, 250, 250);
  text-align: center;
}
.showComments:hover{
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.addComments{
  background-color: rgba(124, 211, 233, 0.835);
  border-color: transparent;
  border-radius: 2px;
  width: 30%;
  margin: auto;
  box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
  color: rgb(255, 250, 250);
  text-align: center;
}
.addComments:hover{
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.comment-Input{
  height: 23px;
  width: 70%;
  border-radius: 2px;
  border: transparent;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.705);
  font-size: 14px;

}
.comment-Input:focus {
  outline: none;
}
.sendCommentButton{
  background-color: rgb(107, 202, 226);
  display: inline-flex;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(240, 115, 57, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
  color: rgb(255, 250, 250);
  height: 25px;
  margin-left: 5px;
}
.sendCommentButton:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.sendCommentButton:focus{
  background-color:rgb(245, 173, 57);
}
.inputAndButton-comment{
  display: flex;
  align-items: center;
  margin-top: -14px;
  width: 100%;
}
  .comment-session{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      background-color: rgba(252, 253, 253, 0.253);
  }
  .profile-img-comment{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px
  }
  .comment{
    width: 95%;
    height: fit-content;
    display: flex;   
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    margin-right: auto;
  }
  .comment-detail{
    display: flex; 
    flex-direction: column; 
    width: 80%;
    align-items: flex-start;
  }
  .comment-name{
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.692);
  }
  .comment-time{
    font-weight: 300;
    margin-top: -20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.692);
  }
  .comment-itself{
    font-weight: 400;
    font-size: 13px;
    margin-top: -14px;
    line-height: 1.2;
  }

  .comment .dropDown{
    z-index: 2;
    width: 10%;
    display: flex;
    flex-direction: column;
    right: 30%;
    margin-top: 2px;
    position: absolute;
    border-radius: 2px;
  }
  .dropDownCommentContent{
    background-color: #80d6ece5;
    width: 100%;
    text-align: center;
    border-radius: 2px;
  }
  .comment .dropDown p{
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .comment .dropDown p:hover{
    font-weight: 500;
  }
  .editCommentContainer{
    width: 90%;
    margin-top: -15px;
  }
  .inputEditComment{
      height: 23px;
      width: 70%;
      border-radius: 2px;
      border: transparent;
      background-color: rgb(255, 255, 255);
      color: rgba(0, 0, 0, 0.705);
      font-size: 14px;
  }
  .inputEditComment:focus {
    outline: none;
  }
 
  .editButton{
    background-color: rgb(107, 202, 226);
     display: inline-flex;
     border-color: transparent;
     border-radius: 2px;
     box-shadow: 0 4px 5px 0 rgba(66, 109, 228, 0.2),
       0 6px 20px 0 rgba(0, 0, 0, 0.19);
     font-size: 16px;
     color: rgb(255, 250, 250);
     margin-left: 10px;
   }
   .editButton:hover {
     box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
   }
   .editButton:focus{
     background-color:rgb(245, 173, 57);
   }